html {
    --blue: #1159BD;
    --yellow: #FF9900;
    --red: #FA546D;
    --main-pad: 0 60px;
    --transition-time: 0.3s;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Cairo", serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    }
    
    /* Medium */
    @media (min-width: 992px) {
    .container {
        width: 970px;
    }
    }
    
    /* Large */
    @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    }

/* Nav Bar Start */

.nav-bar {
    background-color: white;
    z-index: 10000;
    position: sticky;
    box-shadow: 0 0 20px #ccc;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar h2 {
    min-width: 200px;
    padding: 30px 0;
}

.nav-bar .nav-bar-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-bar-links i {
    font-size: 22px;
}

.nav-bar .nav-bar-links ul {
    display: flex;
}

.nav-bar .nav-bar-links ul li {
    padding: 20px;
    transition: var(--transition-time);
}

.nav-bar .nav-bar-links ul li a {
    color: black;
    font-weight: 600;
    transition: var(--transition-time);
}

.nav-bar .nav-bar-links ul li:hover a {
    color: #bbb;
}

.nav-bar .nav-bar-links .cart {
    color: black;
    margin-left: 10px;
}

.nav-bar .nav-bar-links .options {
    position: relative;
}

@media (min-width: 992px) {
    .nav-bar .nav-bar-links .options {
        display: none;
    }
}

@media (max-width: 991px) {
    .nav-bar .nav-bar-links ul {
        display: none;
    } 
    .nav-bar .nav-bar-links .options:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 323%;
        left: 50%;
        width: 75%;
        transform: translate(-50%, -50%);
        border-top: 2px solid var(--blue);
        padding: 15px;
    }

    .nav-bar .nav-bar-links ul li {
        border-bottom: 2px solid #f9f9f9;
    }

    .nav-bar .nav-bar-links ul li:hover {
        background-color: #f9f9f9;
    }
}

/* Nav Bar End */